%p.intro
  I love climbing but, unfortunately, this doesn't help me bring home the bacon.
  %br
  For this reason, I spend most of my time working as software engineer.
%section#main.grid.grid-pad
  .col-1-2
    %header.hgroup
      %h2
        Twitter
      %h3
        my tweets
        %span.btn-twitter
          %a.twitter-follow-button(href="https://twitter.com/granze" data-show-count="false" data-lang="en" data-size="large")
            Follow @granze
          :javascript
            !function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
              }
            }(document, "script", "twitter-wjs");
    %ul.feed#twitter
      -@twitter_timeline.take(10).each do |tweet|
        %li
          %span.date=time_ago_in_words(tweet.created_at) + ' ago'
          =tweet.text + ' | '
          %a(href="#{tweet.uri}")
            details

    %header.hgroup
      %h2
        Github
      %h3
        my Github activities
        %a.more(target="_blank" href="https://github.com/Granze?tab=activity")
          more

    %ul.feed#github
      -@github_feed.items.take(10).each do |item|
        %li
          %span.date=time_ago_in_words(item.published.content) + ' ago'
          =item.title.content

  .col-1-2
    %header.hgroup
      %h2
        8a.nu
      %h3
        my climbing ascent
        %a.more(target="_blank" href="http://s.shr.lc/1biC93J")
          more
    %ul.feed#ottoa
      -@ottoa.take(10).each do |item|
        %li
          %span.date=item[:date]
          =item[:route]
          %strong.grade=item[:grade]
          %em.crag=item[:crag]

    %header.hgroup
      %h2
        Last.fm
      %h3
        what I'm listening to
        %a.more(target="_blank" href="http://www.last.fm/user/granzebru/tracks")
          more
    %ul.feed#lastfm
      -@lastfm_feed.items.each do |item|
        %li
          %a(href="#{item.link}")
            =item.title




