!!!
%html
  %head
    %title Maurizio Mangione A.K.A. Granze - Software engineer
    %meta(charset="utf-8")
    %meta(name="description" content="Personal website of Maurizio Mangione A.K.A. Granze")
    %meta(name="keywords" content="Maurizio Mangione, Granze, climbing, front end, developer, javascript, jquery, UI, user interface, html5, css3")
    %meta(name="author" content="Maurizio Mangione")
    %meta(name="viewport" content="width=device-width, maximum-scale=1.0")
    %link(rel="stylesheet" href='http://fonts.googleapis.com/css?family=Bevan')
    %link(rel="stylesheet" href="/css/main.css")
    %link(rel="shortcut icon" href="/favicon.ico")
    /[if lt IE 9] <script src="http://html5shim.googlecode.com/svn/trunk/html5.js></script>
  %body
    %header#main-header.shadow-top
      %nav.wrapper
        %a#about(href="/about")
          about
      %h1.wrapper
        %a(href="/")
          Granze

    =yield

    %footer
      .wrapper
        .contacts
          %a(href="https://github.com/Granze")
            &#xe001;
          %a(href="http://www.linkedin.com/in/granze")
            &#xe004;
          %a(href="http://vimeo.com/granze")
            &#xe000;
          %a(href="https://twitter.com/#!/granze")
            &#xe005;
          %a(href="http://last.fm/user/granzebru")
            &#xe003;
          %a(href="https://plus.google.com/u/0/104973120103840514441")
            &#xe006;
        %p.credits
          Granze.net is powered by:
          %a(href="http://www.sinatrarb.com/")
            Sinatra
          and
          %a(href="http://haml.info/")
            Haml
          %br
          Source code on
          %a(href="https://github.com/Granze/granze.net-ruby")
            Github

